footer
  .footer--main
    .footer--about
      a.footer--about-link(href="#") ДОСТАВКА
      a.footer--about-link(href="#") КОНТАКТЫ
      a.footer--about-link(href="#") ПОЛЕ БОЯ
    .footer--menu
      a.footer--menu-link(href="#")
        img.footer--menu-pic(src="./img/svg/footer/carbon_logo-instagram.svg", alt)
      a.footer--menu-link(href="#")
        img.footer--menu-pic(src="./img/svg/footer/vk-outline.svg", alt)
      a.footer--menu-link(href="https://www.youtube.com/")
        img.footer--menu-pic(src="./img/svg/footer/tabler_brand-youtube.svg", alt)