header
  .header--main
    a(href="./index.pug").logo
      img.warhammer--logo(href="./index.pug" src="./img/wh_logo_2.png" alt="логитип Вархаммера")
    .header--search
      form.header--search-form
        input.input.input--header-search(type="text" placeholder="Поиск..")
        button.button.button--header-search(type="submit")
    .header--about
      a.header--about-link(href="#") О ПРОЕКТЕ
    .header--menu
      a.header--menu-link(href="#")
        img.header--menu-pic(src="./img/svg/account.svg", alt)
      a.header--menu-link(href="#")
        img.header--menu-pic(src="./img/svg/favourites.svg", alt)
      a.header--menu-link(href="#")
        img.header--menu-pic(src="./img/svg/basket.svg", alt)
.bg--image