.main--section.section
  nav.main--navigation.navigation
    ul.main--navigation-row
      li.main--navigation-item
        a.main--navigation-link(href="./product.pug") НОВИНКИ
      li.main--navigation-item
        a.main--navigation-link(href="./environment.pug") ОКРУЖЕНИЕ
      li.main--navigation-item
        a.main--navigation-link(href="#") ФРАКЦИИ
        ul.submenu
          li.submenu--item
            a.main--navigation-link.navigation--link-hover(href="#") Space Marines
            //- ul.submenu
            //-   //- li.submenu--item
            //-   //-   a.main--navigation-link.navigation--link-hover(href="#") Adepta Sororitas
            //-   li.submenu--item
            //-     a.main--navigation-link.navigation--link-hover(href="#") 
            //-   //- li.submenu--item
            //-   //-   a.main--navigation-link.navigation--link-hover(href="#") Adeptus Custodes
            //-   //- li.submenu--item
            //-   //-   a.main--navigation-link.navigation--link-hover(href="#") Adeptus Mechanicus
            //-   //- li.submenu--item
            //-   //-   a.main--navigation-link.navigation--link-hover(href="#") Astra Militarum
            //-   //- li.submenu--item
            //-   //-   a.main--navigation-link.navigation--link-hover(href="#") Imperial Knights
            //-   //- li.submenu--item
            //-   //-   a.main--navigation-link.navigation--link-hover(href="#") Officio Assassinorum
            //-   //- li.submenu--item
            //-   //-   a.main--navigation-link.navigation--link-hover(href="#") Sisters of Silence
          li.submenu--item
            a.main--navigation-link.navigation--link-hover(href="#") Orks
            //- ul.submenu
            //-   li.submenu--item
            //-     a.main--navigation-link.navigation--link-hover(href="#") Leagues of Votann
            //-   li.submenu--item
            //-     a.main--navigation-link.navigation--link-hover(href="#") Aeldari
            //-   li.submenu--item
            //-     a.main--navigation-link.navigation--link-hover(href="#") Drukhari
            //-   li.submenu--item
            //-     a.main--navigation-link.navigation--link-hover(href="#") Genestealer Cults
            //-   li.submenu--item
            //-     a.main--navigation-link.navigation--link-hover(href="#") Necrons
            //-   li.submenu--item
            //-     a.main--navigation-link.navigation--link-hover(href="#") Orks
            //-   li.submenu--item
            //-     a.main--navigation-link.navigation--link-hover(href="#") Tau Empire
            //-   li.submenu--item
            //-     a.main--navigation-link.navigation--link-hover(href="#") Tyranids
          li.submenu--item
            a.main--navigation-link.navigation--link-hover(href="#") Chaos
            //- ul.submenu
            //-   li.submenu--item
            //-     a.main--navigation-link.navigation--link-hover(href="#") Chaos Daemons
            //-   li.submenu--item
            //-     a.main--navigation-link.navigation--link-hover(href="#") Chaos Knights
            //-   li.submenu--item
            //-     a.main--navigation-link.navigation--link-hover(href="#") Chaos Space Marines
            //-   li.submenu--item
            //-     a.main--navigation-link.navigation--link-hover(href="#") Death Guard
            //-   li.submenu--item
            //-     a.main--navigation-link.navigation--link-hover(href="#") Thousand Sons
      li.main--navigation-item
        a.main--navigation-link(href="./history.pug") ИСТОРИЯ
      li.main--navigation-item
        a.main--navigation-link(href="./news.pug") НОВОСТИ