meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width,initial-scale=1")
title ИСТОРИЯ
link(rel="stylesheet" href="./css/style.css")
link(rel="preconnect" href="https://fonts.googleapis.com")
link(rel="preconnect" href="https://fonts.gstatic.com", crossorigin)
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700&family=Roboto:wght@300;400;700&family=Rubik:wght@300;400;600;700&display=swap" rel="stylesheet">

include modules/header
main
  include modules/menu
  .wrapper
    .history--section-wrap
      .history--section
        .history--section-picture
          a(href="#")
            img(src="./img/history/history_test.jpg" alt="")
        .history--section-text
          a(href="#") 
            p. 
              Пока отвлечемся от анонса о новой кинематографической вселенной по Warhammer 40k от Amazon (о которой я немного 
              рассказал в статье по этой ссылке). Мы пока не знаем какую именно историю будут экранизировать, может актуальные события, 
              а может времена 30М "Ереси Хоруса". Надеюсь все же это будет что-то современное, ибо узнать подробности событий масштабного 
              противостояния Императора и "первого сына" его, конечно интересно, но, при всем уважении, эти события уже давно прошли и 
              итоги их мы знаем. То, что осталось от Императора, воссело на золотой трон, самоустранившись от прямого управления государством, 
              а еретики бежали в Имматериум(параллельное измерение). Люди же начали скатываться в религиозное безумие отринув технологический прагматизм.
      .history--section-reverse
        .history--section-text
          a(href="#") 
            p. 
              Пока отвлечемся от анонса о новой кинематографической вселенной по Warhammer 40k от Amazon (о которой я немного 
              рассказал в статье по этой ссылке). Мы пока не знаем какую именно историю будут экранизировать, может актуальные события, 
              а может времена 30М "Ереси Хоруса". Надеюсь все же это будет что-то современное, ибо узнать подробности событий масштабного 
              противостояния Императора и "первого сына" его, конечно интересно, но, при всем уважении, эти события уже давно прошли и 
              итоги их мы знаем. То, что осталось от Императора, воссело на золотой трон, самоустранившись от прямого управления государством, 
              а еретики бежали в Имматериум(параллельное измерение). Люди же начали скатываться в религиозное безумие отринув технологический прагматизм.
        .history--section-picture
          a(href="#") 
            img(src="./img/history/history_test.jpg" alt="")
      .history--section
        .history--section-picture
          a(href="#") 
            img(src="./img/history/history_test.jpg" alt="")
        .history--section-text
          a(href="#") 
            p. 
              Пока отвлечемся от анонса о новой кинематографической вселенной по Warhammer 40k от Amazon (о которой я немного 
              рассказал в статье по этой ссылке). Мы пока не знаем какую именно историю будут экранизировать, может актуальные события, 
              а может времена 30М "Ереси Хоруса". Надеюсь все же это будет что-то современное, ибо узнать подробности событий масштабного 
              противостояния Императора и "первого сына" его, конечно интересно, но, при всем уважении, эти события уже давно прошли и 
              итоги их мы знаем. То, что осталось от Императора, воссело на золотой трон, самоустранившись от прямого управления государством, 
              а еретики бежали в Имматериум(параллельное измерение). Люди же начали скатываться в религиозное безумие отринув технологический прагматизм.

include modules/footer