meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width,initial-scale=1")
title ПРОДУКЦИЯ
link(rel="stylesheet" href="./css/style.css")
link(rel="preconnect" href="https://fonts.googleapis.com")
link(rel="preconnect" href="https://fonts.gstatic.com", crossorigin)
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700&family=Roboto:wght@300;400;700&family=Rubik:wght@300;400;600;700&display=swap" rel="stylesheet">

include modules/header
main
  include modules/menu
  .wrapper
    .product--section
      .product--item
        a(href="#")
          img(src="./img/product/dred.webp" alt="Изображение")
      .product--item
        a(href="#")
          img(src="./img/product/1e20396a50a522fc958508642a8a0293.jpg" alt="Изображение")
      .product--item
        a(href="#")
          img(src="./img/product/ed2225edec62660998d9135d41f2e71b.jpg" alt="Изображение")
      .product--item
        a(href="#")
          img(src="./img/product/hqdefault_2.jpg" alt="Изображение")
      .product--item
        a(href="#")
          img(src="./img/product/orig.webp" alt="Изображение")
      .product--item
        a(href="#")
          img(src="./img/product/dred.webp" alt="Изображение")
      .product--item
        a(href="#")
          img(src="./img/product/1e20396a50a522fc958508642a8a0293.jpg" alt="Изображение")
      .product--item
        a(href="#")
          img(src="./img/product/ed2225edec62660998d9135d41f2e71b.jpg" alt="Изображение")
      .product--item
        a(href="#")
          img(src="./img/product/hqdefault_2.jpg" alt="Изображение")
      .product--item
        a(href="#")
          img(src="./img/product/orig.webp" alt="Изображение")
      .product--item
        a(href="#")
          img(src="./img/product/dred.webp" alt="Изображение")
      .product--item
        a(href="#")
          img(src="./img/product/ed2225edec62660998d9135d41f2e71b.jpg" alt="Изображение")



include modules/footer